.profile{
    width: 300px;
    margin: 0 auto;
}

.profileDescription{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.avatarWrp {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(253, 236, 234);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.name, .tag, .location {
    margin: 0;
}

.tag{
    color: rgb(158, 159, 160);
    font-weight: 400;
}
.location {
    font-weight: 500;
    color: rgb(158, 159, 160);
}

.stats {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0;
}
.statsItem{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px 0px 12px 0px;
    background-color: rgb(241, 241, 241);
    outline: 1px solid rgb(158, 159, 160);
}

.label {
    font-size: 16px;
    font-weight: 400;
    color: rgb(158, 159, 160);
}
.quantity{
    font-size: 18px;
    font-weight: 700;

}