.transactionHistory {
    width: 100%;
}

.thead {
    color: white;
    background-color: rgb(111, 202, 230); 
}

.tbody, .row:nth-child(odd){
    background-color: rgb(250, 250, 250);
}
.tbody, .row:nth-child(even){
    background-color: rgb(235, 235, 235);
}

.tbody, .row:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

.tbody td:first-child {
  text-align: left;
  padding-left: 17%; 
  text-transform: capitalize;
}